
.nav {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.container {
  max-width: 400px;
  margin: 0 auto;
}

.listContainer {
  border: 1px solid lightgray;

  .tabContainer {
    display: flex;
    border-bottom: 1px solid lightgray;
  
    >div {
      width: 50%;
      text-align: center;
    }
  }  
}

.cardContainer {
  border: 1px solid lightgray;
  margin: 10px 10px;

  .header {
    border-bottom: 1px solid lightgray;
    padding: 10px;
  }

  .body {
    .contentContainer {
      display: flex;
      margin: 10px 0;
      
      .left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
  
        img {
          width: 80%;
        }
      }
  
      .right {
        // background-color: yellowgreen;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        padding: 0 10px;
        border-left: 1px solid lightgray;
        
        button {
          width: 100%;
          margin-top: 10px;
        }
      }
    }
  }
}

.newQuestionContainer {
  border: 1px solid lightgray;

  h3 {
    border-bottom: 1px solid lightgray;
    text-align: center;
    margin: 0;
    padding: 10px;
  }

  >div:last-of-type {
    padding: 10px;
    padding-top: 0;

    input {
      width: 100%;
      padding: 0;
      border-width: 0;
      border: 1px solid gray;

    }
    
    button {
      width: 100%;
    }

    .divider {
      display: flex;
      align-items: center;

      >div:first-child {
        background-color: lightgray;
        width: 45%;
        height: 1px;
      }
      >div:nth-child(2) {
        width: 10%;
        text-align: center;
      }
      >div:last-child {
        background-color: lightgray;
        width: 45%;
        height: 1px;
      }
    }

    >div {
      margin: 10px 0;
    }
  }
}




